@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Montserrat', sans-serif;
}

.prose h1 { font-size: 2.25rem; font-weight: 700; }
.prose h2 { font-size: 1.875rem; font-weight: 700; }
.prose h3 { font-size: 1.5rem; font-weight: 600; }
